{% extends "nav.html" %}
{% block body %}
    <button type="button" onclick="show_create()">create card</button>
    <div class="container sortable">
        {% for card in board.cards %}
            <div class="card">
                <div class="card_title">{{ card.name }}</div>
                <div class="card_desc">
                    <ol>
                        {% for resp in card.resps %}
                            <li>resp</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="popup">
        <h1 class="center">Create Card</h1>
        <form>
            <input id="card_name" placeholder="name"><br>
            <button type="button" onclick="create_card({{ board.id }})">create</button>
        </form>
    </div>
{% endblock %}

