{% extends "nav.html" %}
{% block body %}
    <button type="button">create card</button>
    <div class="container sortable">
        {% for card in board.cards %}
            <div class="card">
                <div class="card_title">{{ card.name }}</div>
                <div class="card_desc">
                    <ol>
                        {% for resp in card.resps %}
                            <li>resp</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

