{%  extends "nav.html" %}
{% block body %}
    <div class="container">
        <div class="form">
            <h1 class="center">Create Board</h1>
            <form name="create_board">
                <input id="name" placeholder="name" name="name"><br>
                <textarea id="desc" placeholder="description" name="desc"></textarea>
                <button type="button" onclick="create()">create</button>
            </form>
        </div>
    </div>

    <script>
    </script>
{% endblock %}