{%  extends "nav.html" %}
{% block body %}
<div class="toolbar">
<button type="button" onclick="show_create()">creaet board</button>
</div>
<div class="container">
    {% for board in boards %}
    <div class="card">
        <div class="card_title">
            <a href="{{ url_for('.show_board', id=board.id) }}">{{ board.name }}</a>
        </div>
        <div class="card_desc">
            {{ board.description }}
        </div>
        <div class="card_footer">total cards: {{ board.cards|length }}</div>
    </div>
    {% endfor%}
    <div class="form">
        <h1 class="center">Create Board</h1>
        <form name="create_board">
            <input id="name" placeholder="name" name="board_name"><br>
            <textarea id="desc" placeholder="description" name="board_desc"></textarea>
            <button type="button" onclick="create_board()">create</button>
        </form>
    </div>
</div>
{% endblock %}
