<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRC Board</title>
    <link rel='stylesheet' type='text/css' href="{{ url_for('web.static', filename='crc_board.css') }}">
</head>
<body>
<div class="navx">
    <a herf="/">Home</a>
    <a href="/board">board</a>
</div>
<div class="container">
    <div class="card">
        <div class="card_title">With rounded corners:</div>
        <div class="card_desc">
            <p> Go to our CSS Shadow Effects Tutorial to learn more about shadows.</p>
        </div>
    </div>
</div>
</body>
</html>