{%  extends "nav.html" %}
{% block body %}
    <div class="toolbar">
        <button type="button" onclick="show_create()">creaet board</button>
    </div>
    <div class="container">
        {% for board in boards %}
            <div class="card">
                <div class="card_title">
                    <span class="indent"><a href="{{ url_for('.show_board', id=board.id) }}">{{ board.name }}</a></span>
                </div>
                <div class="card_desc">
                    <p class="indent">{{ board.description }}</p>
                </div>
                <div class="card_footer"><span class="indent">total cards: {{ board.cards|length }}</span></div>
            </div>
        {% endfor%}
    </div>
    <div class="popup">
        <h1 class="center">Create Board</h1>
        <form>
            <input id="board_name" placeholder="name"><br>
            <textarea id="board_desc" placeholder="description"></textarea>
            <button type="button" onclick="create_board()">create</button>
        </form>
    </div>
{% endblock %}
