
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRC Board</title>
    <link href="https://fonts.googleapis.com/css?family=Anton|Asap|Roboto:300" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href="{{ url_for('web.static', filename='crc_board.css') }}">
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.min.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" async></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js" async></script>
</head>
<body>
<div class="topnav" id="myTopnav">
  <a href="{{ url_for('.index') }}">Home</a>
  <a href="{{ url_for('.create_board') }}">create board</a>
</div>

{% block body %}{% endblock %}

</body>
</html>
