.topnav {
    background-color: purple;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.container {
    width: auto;
    height: auto;
    padding: 2% 10% 2% 10%;
    position: relative;
}

.popup {
    border-radius: 7px;
    background-color: darkgrey;
    color: white;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    display: none;
    /*position: absolute;*/
    /*margin: 0 30% 0 30%;*/
    width: 40%;
}

.popup input, .popup textarea {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.popup textarea {
    height: 150px;
}

.popup button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: mediumpurple;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  /*-webkit-transition: all 0.3 ease;*/
  /*transition: all 0.3 ease;*/
  cursor: pointer;
}
.popup button:hover,.popup button:active,.popup button:focus {
  background: #43A047;
}

.center {
    text-align: center;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 300px;
    height: 200px;
    margin: 0px 10px 30px 10px;
    float: left;
    position: relative;
}

.card_title {
    height: 20%;
    border-radius: 5px 5px 0px 0px;
    background-color: cornflowerblue;
    font-size: 125%;
    font-family: 'Anton', sans-serif;
    color: azure;
}

.indent {
    vertical-align: middle;
    line-height: normal;
    padding: 5px 10px 5px 10px;
}

.card_title a {
    text-decoration: none;
    color: azure;
}

.card_title a:hover {
    text-decoration: underline;
}

ol {
    padding-left: 20px;
}

.card_desc {
    height: 60%;
    font-size: 85%;
    font-family: 'Asap', sans-serif;
    color: dimgrey;
    overflow: scroll;
    text-overflow: ellipsis;
}

.card_footer {
    height: 10%;
    width: 100%;
    bottom: 0;
    background-color: lightgray;
    font-family: monospace;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


